cython_bbox==0.1.5
filterpy==1.4.5
h5py==3.12.1
lapx==0.5.11
matplotlib==3.10.0
numpy==2.2.1
opencv_python==4.10.0.84
pillow==11.1.0
pandas==2.2.3
pycocotools==2.0.8
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.0
sympy==1.13.1
setuptools==75.5.0
torch==2.5.1
torchvision==0.20.1
typing_extensions==4.12.2

